/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.form-body {
    padding:10px 40px;
    color:#666;
  }
  
  .form-group{
    margin-bottom:20px;
  }
  
  .form-body .label-title {
    color:#1BBA93;
    font-size: 17px;
    font-weight: bold;
  }
  
  .form-body .form-input {
      font-size: 17px;
      box-sizing: border-box;
      width: 100%;
      height: 34px;
      padding-left: 10px;
      padding-right: 10px;
      color: #333333;
      text-align: left;
      border: 1px solid #d6d6d6;
      border-radius: 4px;
      background: white;
      outline: none;
  }
  
  
  
  .horizontal-group .left{
    float:left;
    width:49%;
  }
  
  .horizontal-group .right{
    float:right;
    width:49%;
  }
  
  input[type="file"] {
   outline: none;
   cursor:pointer;
   font-size: 17px;
  }
  
  #range-label {
   width:15%;
   padding:5px;
   background-color: #1BBA93;
   color:white;
   border-radius: 5px;
   font-size: 17px;
   position: relative;
   top:-8px;
  }
  
  
  ::-webkit-input-placeholder {
   color:#d9d9d9;
  }
  
/*   
  .form-footer {
   clear:both;
  } */

  .checked {
    color: orange;
  }
        
        
        
        
        /* Styling the Body element i.e. Color,
		Font, Alignment */
		body {
			background-color: #05c46b;
			font-family: Verdana;
			text-align: center;
		}

		/* Styling the Form (Color, Padding, Shadow) */
		form {
			background-color: #fff;
			max-width: 500px;
			margin: 50px auto;
			padding: 30px 20px;
			box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
		}

		/* Styling form-control Class */
		.form-control {
			text-align: left;
			margin-bottom: 25px;
		}

		/* Styling form-control Label */
		.form-control label {
			display: block;
			margin-bottom: 10px;
		}

		/* Styling form-control input,
		select, textarea */
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
		}

		/* Styling form-control Radio
		button and Checkbox */
		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}

		/* Styling Button */
		button {
			background-color: #05c46b;
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			font-size: 21px;
			display: block;
			width: 100%;
			margin-top: 50px;
			margin-bottom: 20px;
		}
	